* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-section {
  height: 25vh;
  background-color: #5ba4a4;
  background-image: url(../images/bg-header-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.job-list {
  flex: 1;
  background-color: #effafa;
  padding-top: 3.5rem;
}

.job-list .search {
  width: 80%;
  background-color: white;
  transform: translateY(calc(-50% - 3.5rem));
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 0rem;
  box-shadow: 3px 13px 23px -8px #5ba4a4;
}

.job-list .search .tag-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem;
  padding-bottom: calc(1.2rem - 12px);
}

.job-list .search .tag-container .search-tag {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #eef6f6;
  color: #5ba4a4;
  border-radius: 4px;
  margin-right: 12px;
  height: fit-content;
  margin-bottom: 12px;
}

.job-list .search .tag-container .search-tag p {
  padding: 0 0.3rem;
  font-size: 0.75rem;
  line-height: 1;
  margin-bottom: -2px;
  font-weight: 700;
}

.job-list .search .tag-container .search-tag img {
  background-color: #5ba4a4;
  padding: 0.3rem;
  width: 20px;
  object-fit: contain;
  cursor: pointer;
}

.job-list .search .tag-container .search-tag img:hover {
  background-color: #2c3a3a;
}

.job-list .search .clear-search {
  padding: 0.1rem 0.3rem;
  margin-right: 1.2rem;
  cursor: pointer;
  color: #2c3a3a;
  font-size: 0.8rem;
  font-weight: 700;
}

.job-list .jobs {
  padding: 1.5rem;
  margin-top: 0;
  padding-top: 0;
}

.job-list .jobs .job-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 4rem;
  background-color: white;
  border-radius: 6px;
  position: relative;
  padding: 40px 1.5rem 0.8rem;
  box-shadow: 9px 9px 30px -16px #5ba4a4;
}

.job-list .jobs .job-card__details img {
  position: absolute;
  top: 0;
  left: 1.5rem;
  transform: translateY(-50%);
  object-fit: contain;
  width: 50px;
}

.job-list .jobs .job-card__details .details {
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #e8e8e8;
}

.job-list .jobs .job-card__details .details .top {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.job-list .jobs .job-card__details .details .top .name {
  color: #5ba4a4;
  font-size: 0.8rem;
  margin-right: 0.6rem;
}

.job-list .jobs .job-card__details .details .top .new {
  color: white;
  background-color: #5ba4a4;
  border-radius: 100px;
  padding: 0.3rem 0.4rem;
  font-size: 0.62rem;
  text-transform: uppercase;
  margin-right: 0.3rem;
}

.job-list .jobs .job-card__details .details .top .featured {
  font-size: 0.62rem;
  text-transform: uppercase;
  color: white;
  background-color: #2c3a3a;
  border-radius: 100px;
  padding: 0.3rem 0.4rem;
  margin-bottom: -20px;
}

.job-list .jobs .job-card__details .details .role {
  font-size: 15px;
  font-weight: 700;
  color: #2c3a3a;
  margin: 0.4rem 0;
}

.job-list .jobs .job-card__details .details .bottom {
  display: flex;
  align-items: center;
  color: #c5c5c5;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.8rem;
}

.job-list .jobs .job-card__details .details .bottom span {
  transform: translateY(-4px);
  margin: 0 0.3rem;
}

.job-list .jobs .job-card__tags {
  padding-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.job-list .jobs .job-card__tags p {
  cursor: pointer;
  padding: 0.3rem;
  color: #5ba4a4;
  background-color: #eef6f6;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: 13px;
}

.job-list .jobs .job-card__tags p:hover {
  color: white;
  background-color: #2c3a3a;
}

.job-list .jobs .job-card.featured {
  border-left: 4px solid #5ba4a4;
}

p.attribution {
  background-color: #effafa;
  margin-bottom: 0;
  padding-bottom: 1rem;
  color: #2c3a3a;
}

p.attribution a {
  color: #2c3a3a;
  text-decoration: none;
}

p.attribution a:hover {
  color: #5ba4a4;
}

p.attribution a svg {
  width: 65px;
  margin-bottom: -8px;
  fill: #2c3a3a;
}

p.attribution a svg:hover {
  fill: #5ba4a4;
}

@media screen and (min-width: 1000px) {
  .top-section {
    background-color: #5ba4a4;
    background-image: url(../images/bg-header-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .job-list .jobs .job-card {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  .job-list .jobs .job-card__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .job-list .jobs .job-card__details img {
    position: initial;
    padding: 0;
    transform: translateY(0);
    width: 65px;
    margin-right: 1rem;
  }
  .job-list .jobs .job-card__details .details {
    border: none;
    padding: 0;
  }
  .job-list .jobs .job-card__details .details .top .name {
    font-size: 0.8rem;
    margin-right: 0.6rem;
  }
  .job-list .jobs .job-card__details .details .role {
    font-size: 17px;
    margin: 0.3rem 0;
  }
  .job-list .jobs .job-card__details .details .bottom {
    margin-top: 0.4rem;
  }
}
/*# sourceMappingURL=main.css.map */